/*I'm going to commit everything to the repo in one go xd*/
/*Finally: 
- I can change all of my header stuff to just be the actual text instead of 10000 tags surrounding it for formatting :D*/
/*External Style Sheet*/
h2  {
    text-decoration-line: underline;
    text-decoration-style: solid;
}
h3  {
    text-decoration-line: underline;
}
a:link  {
    color:green;
}
a:visited   {
    color:aquamarine;
}
a:hover {
    color:pink
}
.special    {
    color:burlywood;
    font-size:150%;
    font-weight: bold;
}